/* Main file settings */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(30, 35, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(200, 200, 200);
    min-height: 100vh;
}
p {
    display: block;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: rgb(200, 200, 200);
    padding: 14px;
    line-height: 1.6;
}
img{
    width: 58px;
    height: 46px;
}

/* navigation bar settings */
nav{
    background-color: rgb(55, 60, 65);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    overflow: hidden;
    position:fixed;
    top: 0;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 60px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(200, 200, 200);
}
nav a:hover{
    background-color: rgb(200, 200, 0);
    color: black;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(55, 60, 65);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
.stredoveky {
    font-family: 'MojeAeiou', serif;
    font-size: 26px;               /* Upravte velikost podle potřeby */
    vertical-align: middle;        /* Zarovná text na střed vedle loga */
    display: inline-flex;          /* Pomůže s lepším zarovnáním s obrázkem */
    align-items: center;           /* Vertikálně vycentruje text i ikonu uvnitř odkazu */
}
@font-face {
    font-family: 'MojeXenippa';
    /* Cesta do složky fonts */
    src: url('../Resources/fonts/xenippa1.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MojeAeiou';
    /* Cesta do složky fonts */
    src: url('../Resources/fonts/aeiou2U.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@media(max-width: 800px){
    .hideonmobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/* secondary settings */
.main-header{
    color: rgb(250, 250, 0);
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 10px;
}
.container {
    max-width: 1480px; /* Nastavte stejnou šířku, jakou má vaše tabulka */
    margin: 0 auto;    /* Vycentruje celý blok na střed stránky */
    padding: 0 20px;   /* Drobný vnitřní okraj, aby se text nelepil na kraje obrazovky */ 
}
.container-bigger {
    max-width: 1480px; /* Nastavte stejnou šířku, jakou má vaše tabulka */
    margin: 0 auto;    /* Vycentruje celý blok na střed stránky */
    padding: 0 20px;   /* Drobný vnitřní okraj, aby se text nelepil na kraje obrazovky */ 
}
.container-smaller {
    max-width: 1300px; /* Nastavte stejnou šířku, jakou má vaše tabulka */
    margin: 0 auto;    /* Vycentruje celý blok na střed stránky */
    padding: 0 20px;   /* Drobný vnitřní okraj, aby se text nelepil na kraje obrazovky */ 
}
.maskovany-odkaz {
    color:rgb(120, 120, 0);
}
.maskovany-odkaz:hover {
    color:rgb(160, 160, 0);
    transition: color 0.2s ease; /* Makes the highlight smooth */
}

/* hlavni settings */
.button-hlavni {
    background-color:rgb(200, 200, 0);
    color:black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    cursor: pointer;
    
}
.button-hlavni:hover {
    background-color: rgb(230, 230, 0);
    transition: background-color 0.2s ease; /* Makes the highlight smooth */
}
.button-container {
    display: flex !important;
    justify-content: center !important; /* Centers the button horizontally */
    align-items: center !important;     /* Centers the button vertically (if container has height) */
}