/* Main file settings */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(30, 35, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(200, 200, 200);
    min-height: 100vh;
}
p {
    display: block;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: rgb(200, 200, 200);
    padding: 14px;
    line-height: 1.6;
}

/* navigation bar settings */
nav{
    background-color: rgb(55, 60, 65);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    overflow: hidden;
    position:fixed;
    top: 0;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 60px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(200, 200, 200);
}
nav a:hover{
    background-color: rgb(200, 200, 0);
    color: black;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(55, 60, 65);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
.stredoveky {
    font-family: 'MojeAeiou', serif;
    font-size: 26px;               /* Upravte velikost podle potřeby */
    vertical-align: middle;        /* Zarovná text na střed vedle loga */
    display: inline-flex;          /* Pomůže s lepším zarovnáním s obrázkem */
    align-items: center;           /* Vertikálně vycentruje text i ikonu uvnitř odkazu */
}
@font-face {
    font-family: 'MojeXenippa';
    /* Cesta do složky fonts */
    src: url('../Resources/fonts/xenippa1.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MojeAeiou';
    /* Cesta do složky fonts */
    src: url('../Resources/fonts/aeiou2U.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@media(max-width: 800px){
    .hideonmobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/* secondary settings */
.main-header{
    color: rgb(250, 250, 0);
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 10px;
}
.container {
    max-width: 1480px; /* Nastavte stejnou šířku, jakou má vaše tabulka */
    margin: 0 auto;    /* Vycentruje celý blok na střed stránky */
    padding: 0 20px;   /* Drobný vnitřní okraj, aby se text nelepil na kraje obrazovky */ 
}
.container-bigger {
    max-width: 1480px; /* Nastavte stejnou šířku, jakou má vaše tabulka */
    margin: 0 auto;    /* Vycentruje celý blok na střed stránky */
    padding: 0 20px;   /* Drobný vnitřní okraj, aby se text nelepil na kraje obrazovky */ 
}
.container-smaller {
    max-width: 1300px; /* Nastavte stejnou šířku, jakou má vaše tabulka */
    margin: 0 auto;    /* Vycentruje celý blok na střed stránky */
    padding: 0 20px;   /* Drobný vnitřní okraj, aby se text nelepil na kraje obrazovky */ 
}
.maskovany-odkaz {
    color:rgb(120, 120, 0);
}
.maskovany-odkaz:hover {
    color:rgb(160, 160, 0);
    transition: color 0.2s ease; /* Makes the highlight smooth */
}

/* Jednotky settings */
.button-container-right {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end; /* Pushes the button to the right */
}
.button-container-left {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-start; /* Pushes the button to the left */
}
.filter-container {
    margin-left: 20px;
    padding: 15px;
    color: rgb(200, 200, 200);
    border-radius: 6px;
    display: inline-block;
}
.filter-container-dark{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
}
.filter-container-dark:hover {
    background-color: rgb(20, 20, 20);
    transition: background-color 0.2s ease;
}
label {
    font-weight: bold;
    margin-right: 10px;
}
select {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}
.nadpis-univerzita {
    color: rgb(200, 200, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.table-section {
    margin-bottom: 40px;
}
table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    font-family:verdana;
    text-align: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
table {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(180, 200, 180, 0.1); /* Optional: adds a subtle shadow for better aesthetics */
}
td {
    height:68px;
}
.table-header {
    border: 1.5px solid white;
}
tr:hover {
    background-color: rgb(50, 55, 60);
    transition: background-color 0.05s ease; /* Makes the highlight smooth */
}
.odhaleni { color:rgb(235, 160, 160); }
.vyzkum { color:rgb(160, 235, 160); }
.zaklad { color:rgb(200, 200, 200); }
.zakladmale { color:rgb(200, 200, 200); font-size: 12px;
}
section{
    margin-bottom: 100px;
}
.badge {  /* Styl pro štítky kategorií */
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
    margin-bottom: 2px;
}
.hrdinove { background-color: rgb(132, 129, 90); }
.lide { background-color: rgb(133, 82, 31); }
.bratrstvo { background-color: rgb(18, 18, 18); }
.skreti { background-color: rgb(25, 62, 27); }
.trpaslici { background-color: rgb(66, 89, 91); }
.elfove { background-color: rgb(35, 108, 63); }
.zvirata { background-color: rgb(97, 55, 55); }
.draci { background-color: rgb(105, 99, 23); }
.kostlivci { background-color: rgb(50, 42, 42); }
.nekromanti { background-color: rgb(76, 41, 90); }
.obri { background-color: rgb(44, 45, 87); }
.dablove { background-color: rgb(87, 20, 20); }
.elementalove { background-color: rgb(11, 89, 104); }
.jine { background-color: rgb(129, 11, 129); }
.button-uni-lvl {
    background-color:rgb(200, 200, 0);
    color:black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    cursor: pointer;
}
.button-uni-lvl:hover {
    background-color: rgb(230, 230, 0);
    transition: background-color 0.2s ease; /* Makes the highlight smooth */
}
.ikona{
    width: 40px;
    height: 38px;
}
.ikona-text{
    width: 18px;
    height: 9px;
}